@page
@model PROYECTOBD1.Pages.Evaluacion.Criterios.MostrarModel
@{
}
<br />
<form method="post">
    <h1 class="text-center">
        <h2>SELECCIONA UN CLIENTE</h2>
        <hr />
        @*                                                                             CUAL TOMA,CUAL MUESTRA*@
        <select id="Select2" name="cliente" asp-items="@(new SelectList(Model.listaClientes,"NOMBRE","NOMBRE"))">
            <option value="" selected disabled>SELECCIONAR CLIENTE</option>
        </select>

        <input type="submit" value="ACEPTAR" />
    </h1>
</form>
<a class='btn btn-primary btn-sm' href='/Evaluacion/Criterios/Crear'>Nuevo Criterio</a>
<table id="myTable" class="table table-bordered table-hover table-sm">
    <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>DESCRIPCION</th>
            <th>TIPO</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.listaCri)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.NOMBRE</td>
                <td>@item.DESCRIPCION</td>
                <td>@item.TIPO</td>
            </tr>
        }
    </tbody>
</table>