@page
@model PROYECTOBD1.Pages.Variedades.IndexModel
@{
}
<br />
<h2>INFORMACION DE VARIEDADES DE CEREZAS</h2>
<form method="post">
    <h1 class="text-center">
        <h2>SELECCIONA UN PAIS</h2>
        <hr />
        @*                                                                             CUAL TOMA,CUAL MUESTRA*@
        <select id="Select1" name="pais" asp-items="@(new SelectList(Model.listaPaises,"NOMBRE","NOMBRE"))">
            <option value="" selected disabled>SELECCIONAR PAIS</option>
        </select>

        <input type="submit" value="ACEPTAR" />
    </h1>
</form>
<a class='btn btn-primary btn-sm' href='/Variedades/Crear'>Nueva Variedad</a>

<table id="myTable" class="table table-bordered table-hover table-sm">
    <thead>
        <tr>
            <th>PAIS</th>
            <th>PRECOCIDAD</th>
            <th>NOMBRE</th>
            <th>FIRMEZA</th>
            <th>COLOR</th>
            <th>ESPECIE</th>
            <th>DESCRIPCION</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listaVariedades)
        {
            <tr>
                <td>@item.PAISNOMBRE</td>
                <td>@item.PRECOCIDAD</td>
                <td>@item.NOMBRE</td>
                <td>@item.FIRMEZA</td>
                <td>@item.COLOR</td>
                <td>@item.ESPECIE</td>
                <td>@item.DESCRIPCION</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Variedades/PaisOrigen/Index?id=@item.ID">OTROS PAISES DE ORIGEN</a>
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Variedades/PrecioVariedad/Index?id=@item.ID">PRECIO</a>
                </td>
            </tr>
        }
    </tbody>
</table>
