@page
@model PROYECTOBD1.Pages.Evaluacion.Formulas.MostrarModel
@{
}
<a class='btn btn-primary btn-sm' href='/Evaluacion/Formulas/Crear'>Nueva Evaluacion</a>
<table id="myTable" class="table table-bordered table-hover table-sm">
    <thead>
        <tr>
            <th>ID</th>
            <th>TIPO</th>
            <th>PORCENTAJE DE IMPORTANCIA</th>
            <th>PORCENTAJE DE ACEPTACION</th>
            <th>CRITERIO</th>
            <th>CLIENTE</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.listaFor)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.TIPO</td>
                <td>@item.PORCENTAJEIMPORTANCIA</td>
                <td>@item.PORCENTAJEACEPTACION</td>
                <td>@item.NOMBRECRITERIO</td>
                <td>@item.NOMBRECLIENTE</td>
            </tr>
        }
    </tbody>
</table>