@page
@model PROYECTOBD1.Pages.Evaluacion.Formulas.MostrarModel
@{
}
<br />
<form method="post">
    <h1 class="text-center">
        <h2>SELECCIONA UN CLIENTE</h2>
        <hr />
        @*                                                                             CUAL TOMA,CUAL MUESTRA*@
        <select id="Select2" name="cliente" asp-items="@(new SelectList(Model.listaClientes,"NOMBRE","NOMBRE"))">
            <option value="" selected disabled>SELECCIONAR CLIENTE</option>
        </select>

        <input type="submit" value="ACEPTAR" />
    </h1>
</form>
<a class='btn btn-primary btn-sm' href='/Evaluacion/Formulas/Crear'>Nueva Formula</a>
<table id="myTable" class="table table-bordered table-hover table-sm">
    <thead>
        <tr>
            <th>ID</th>
            <th>TIPO</th>
            <th>PORCENTAJE DE IMPORTANCIA</th>
            <th>PORCENTAJE DE ACEPTACION</th>
            <th>CRITERIO</th>
            <th>CLIENTE</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.listaFor)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.TIPO</td>
                <td>@item.PORCENTAJEIMPORTANCIA</td>
                <td>@item.PORCENTAJEACEPTACION</td>
                <td>@item.NOMBRECRITERIO</td>
                <td>@item.NOMBRECLIENTE</td>
            </tr>
        }
    </tbody>
</table>