@page
@model PROYECTOBD1.Pages.Productores.IndexModel
@{
}
<br />
<form method="post">
    <h2>LISTA DE PRODUCTORES</h2>
    <h1 class="text-center">
        <h2>SELECCIONA UN PAIS</h2>
        <hr />
        @*                                                                             CUAL TOMA,CUAL MUESTRA*@
        <select id="Select1" name="pais" asp-items="@(new SelectList(Model.listaPaises,"NOMBRE","NOMBRE"))">
                <option value="" selected disabled>SELECCIONAR PAIS</option>
            </select>
          
            <input type="submit" value="ACEPTAR" />
    </h1>
</form>
<a class='btn btn-primary btn-sm' href='/Mantenimiento/Productores/Crear'>Nuevo Productor</a>
<table id="myTable" class="table table-bordered table-hover table-sm">
    <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>ENVASE ESTANDAR</th>
       @*     <th>COOPERATIVA</th>*@
            <th>DIRECCION</th>
            <th>CIUDAD</th>
            <th>PAIS</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listaProductor)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.NOMBRE</td>
                <td>@item.ENVASE_ESTANDAR</td>
               @* <td>@item.FK_COOPERATIVA</td>*@
                <td>@item.DIRECCION</td>
                <td>@item.NOMBRECIUDAD</td>
                <td>@item.NOMBREPAIS</td>
            </tr>
        } 
    </tbody>
</table>
