@page
@model PROYECTOBD1.Pages.Contratos.CrearModel
@{
}
<br />
<h2>NUEVO CULTIVO</h2>
@if (Model.error.Length > 0)
{
    <div class='alert alert-warning alert-dismissible fade show' role='alert'>
        <strong>@Model.error</strong>
        <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='close'></button>
    </div>
}


<form method="POST">
        <select id="Select1" name="IDPRODUCTOR" asp-items="@(new SelectList(Model.listaProductor,"ID","NOMBRE"))">
            <option value="" selected disabled>SELECCIONAR PRODUCTOR</option>
        </select>
        <select id="Select1" name="IDCLIENTE" asp-items="@(new SelectList(Model.listaCliente,"ID","NOMBRE"))">
            <option value="" selected disabled>SELECCIONAR CLIENTE</option>
        </select>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">FECHA EMISION</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="FECHAEMISION" value="@Model.fechaemision">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">PORCENTAJE DESCUENTO</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="PORCENTAJEDESCUENTO" value="@Model.porcentajedescuento">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">TOTAL</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="TOTAL" value="@Model.total">
        </div>
    </div>


    @if (Model.correcto.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@Model.correcto</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                </div>
            </div>
        </div>
    }
    <div class="row mb-3">
        <div class="col-sm-5 d-grid">
            <button type="submit" class="btn btn-primary">ACEPTAR</button>
        </div>
        <div class="col-sm-5 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">CANCELAR</a>
        </div>

    </div>
</form>