@page
@model PROYECTOBD1.Pages.Recetas.IndexProdModel
@{
}

<br />
<form method="post">
    <h2>LISTA DE PRODUCTORES</h2>
    <h1 class="text-center">
        <h2>SELECCIONA UN PAIS</h2>
        <hr />
        @*                                                                             CUAL TOMA,CUAL MUESTRA*@
        <select id="Select1" name="productor" asp-items="@(new SelectList(Model.listaProductor,"ID","NOMBRE"))">
            <option value="" selected disabled>SELECCIONAR PRODUCTOR</option>
        </select>
        <input type="submit" value="ACEPTAR" />
    </h1>
</form>
<a class='btn btn-primary btn-sm' href='/Recetas/Opcion'>Nueva receta</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>TIPO</th>
            <th>DESCRIPCION</th>
            <th>TIEMPO PREPARACION</th>
            <th>RACIONES</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listRecetas)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.NOMBRE</td>
                <td>@item.TIPO</td>
                <td>@item.DESCRIPCION</td>
                <td>@item.TIEMPOPREPARACION</td>
                <td>@item.RACIONES</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Recetas/Instrucciones/Ver?id=@item.ID">Ver</a>
                    <a class="btn btn-primary btn-sm" href="/Recetas/Ingredientes/Ingrediente?id=@item.ID">Ingredientes</a>
                </td>
            </tr>
        }
    </tbody>
</table>