@page
@model PROYECTOBD1.Pages.Clientes.IndexModel
@{
}
<br />
<form method="post">
    <h2>LISTA DE CLIENTES</h2>
    <h1 class="text-center">
        <h2>SELECCIONA UN PAIS</h2>
        <hr />
        @*                                                                             CUAL TOMA,CUAL MUESTRA*@
        <select id="Select2" name="pais" asp-items="@(new SelectList(Model.listaPaises,"NOMBRE","NOMBRE"))">
            <option value="" selected disabled>SELECCIONAR PAIS</option>
        </select>

        <input type="submit" value="ACEPTAR" />
    </h1>
</form>
<a class='btn btn-primary btn-sm' href='/Mantenimiento/Clientes/Crear'>Nuevo Cliente</a>
<table id="myTable" class="table table-bordered table-hover table-sm">
    <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>MISION</th>
            <th>RANGO ESCALA</th>
            <th>PORCENTAJE DE ACEPTACION</th>
            <th>CIUDAD</th>
            <th>PAIS</th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var item in Model.listaClientes)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.NOMBRE</td>
                <td>@item.MISION</td>
                <td>@item.RANGO_ESCALA</td>
                <td>@item.PORCENTAJE_ACEPTACION</td>
                <td>@item.NOMBRECIUDAD</td>
                <td>@item.NOMBREPAIS</td>
            </tr>
        } 
    </tbody>
</table>